/* .app-logo {
  height: 12vh;
} */

.app-videos {
  height: 85vh;
  scroll-snap-type: y mandatory;
}
/* hide the scroll bar that appears due to screen size issues */
/* Chrome, Safari and Opera */
.app-videos::-webkit-scrollbar {
  display: none;
}
/* IE, Edge and Firefox */
.app-videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.picon {
  background: #ffffff89;
  color: #fff;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  margin-inline: 10px;
}

.videoCard {
  scroll-snap-align: start;
}
